.card-table {
  max-width: 700px;

  tr {
    &:not(:first-child) {
      &:not(.active):hover {
        background-color: rgba(0, 0, 0, 0.05);
        cursor: pointer;
      }

      td {
        padding: 0.35rem 0;
      }
    }

    th {
      padding-bottom: 0.75rem;
    }
  }
}
