.detail {
  margin-bottom: 1rem;

  > p:first-child {
    margin: 0;
    font-size: .7rem;
    font-weight: 500;
    line-height: 1;
    color: #102694;
  }

  > p:last-child {
    margin-top: 0.15rem;
    margin-bottom: 0;
    font-size: .85rem;
    font-weight: 400;
  }
}
