<div>
  <nb-card *ngIf="graduate$ | async as graduate" size="large" class="card-table">
    <nb-card-header>
      <p class="idno-label">ID No. {{confirmForm.invalid}}</p>
      {{graduate.id_number}}
    </nb-card-header>
    <nb-card-body>
      <div class="detail">
        <p>Name</p>
        <p>{{graduate.first_name}} {{graduate.mid_name}} {{graduate.last_name}}</p>
      </div>
      <div class="detail">
        <p>Package</p>
        <p>{{graduate.package}}</p>
      </div>
      <div class="detail">
        <p>Payment receipt</p>
        <p>{{graduate.receipt_details}}</p>
      </div>
      <div class="detail">
        <p>Shoot Schedule</p>
        <p>{{graduate.shoot_date | date:'mediumDate'}} {{graduate.shoot_time}} {{graduate.time_period}}</p>
      </div>
      <div class="detail">
        <p>Mobile</p>
        <p>{{graduate.mobile}}</p>
      </div>
      <div class="detail">
        <p>Email</p>
        <p>{{graduate.email}}</p>
      </div>
      <div class="detail">
        <p>Birthday</p>
        <p>{{graduate.birthday | date:'mediumDate'}}</p>
      </div>
      <div class="detail">
        <p>Course</p>
        <p>{{graduate.course}}</p>
      </div>
      <div class="detail">
        <p>College</p>
        <p>{{graduate.college}}</p>
      </div>
      <div class="detail">
        <p>Affiliations</p>
        <p>{{graduate.affiliations}}</p>
      </div>
      <div class="detail">
        <p>Awards</p>
        <p>{{graduate.awards}}</p>
      </div>
      <div class="detail">
        <p>Motto</p>
        <p>{{graduate.motto}}</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <form [formGroup]="confirmForm" (ngSubmit)="approve(true, graduate)" *ngIf="!graduate.approved">
        <div class="payment-block">
          <div class="form-control">
            <label class="label" for="initial_payment">Initial payment:</label>
            <input nbInput type="number" formControlName="initial_payment" name="initial_payment" id="initial_payment" placeholder="0000">
          </div>
        </div>
        <div style="display: flex;">
          <button [disabled]="confirmForm.invalid" nbButton size="small" status="success">Approve</button>
          <button (click)="disapprove(graduate.email)" nbButton size="small" status="danger" style="margin-left: auto; margin-right: 0;">Disapprove</button>
        </div>
      </form>
      <button *ngIf="graduate.approved" (click)="disapprove(graduate.email)" nbButton size="small" status="danger">Disapprove</button>
    </nb-card-footer>
  </nb-card>

</div>
