<div class="list-container">
  <nb-card accent="danger" size="large" class="card-table">
    <nb-card-header>Pending bookings</nb-card-header>
    <nb-card-body>
      <table class="custom-table" width="100">
        <tr>
          <th>ID No.</th>
          <th>Package</th>
          <th>Name</th>
        </tr>
        <tr *ngFor="let graduate of pendingGraduates | async" [ngClass]="{active: selectedId == graduate.id}" (click)="goToBooking(graduate.id)">
          <td>{{graduate.id_number}}</td>
          <td>{{graduate.package}}</td>
          <td>{{graduate.first_name}} {{graduate.mid_name}} {{graduate.last_name}}</td>
        </tr>
      </table>
    </nb-card-body>
  </nb-card>
  <div>
    <router-outlet></router-outlet>
  </div>
</div>
