<nb-layout>
  <nb-layout-header subheader>
    <button nbButton ghost (click)="toggle()">
      <nb-icon icon="menu-outline"></nb-icon>
    </button>
    <p class="subtitle" style="margin-left: 1rem;">
      Administrator
    </p>
    <button nbButton ghost class="logout-btn" (click)="logout()">
      <nb-icon icon="log-out-outline"></nb-icon> Logout
    </button>
  </nb-layout-header>

  <nb-sidebar [fixed]="isSidebarFixed" [collapsedBreakpoints]="collapsedBreakpoints" compactedBreakpoints="[]" [responsive]="responsive">
    <nb-menu [items]="items"></nb-menu>
    <app-open-dates></app-open-dates>
  </nb-sidebar>

  <nb-layout-column>
    <router-outlet></router-outlet>
  </nb-layout-column>
</nb-layout>
