<nb-layout>
  <nb-layout-column>
    <div class="header-section">
      <img class="logo" src="../../assets/logo.png" alt="USTP Yearbook Publication">
      <div>
        <div class="header-title">
          <p>The 2020 Edition</p>
          <p>USTP Yearbook</p>
          <p>Publication</p>
        </div>
      </div>
    </div>
    <nb-card class="form-card" *ngIf="!success" [nbSpinner]="id_number.pending" nbSpinnerStatus="success">
      <nb-card-body>

        <div style="margin-bottom: 3rem;">
          <p class="subtitle">Welcome to USTP CDO Yearbook Publication 2020!</p>
          <p>Please fill in the information needed to complete your registration for Yearbook 2020. All information will be kept strictly confidential and will be used only for yearbook purposes.</p>
          <p>No refund will be made once you complete the registration, except for purposes where the YBEP 2020 expressly provides.</p>
          <p>Please review all details before submitting to avoid any errors. Once you submit, you certify that all information is correct. The USTP YBEP 2020 assumes no responsibility or liability for any errors based on the information you have given.</p>
        </div>

        <form [formGroup]="graduateForm" (ngSubmit)="checkDetails(dialog)" class="step-container">
          <div class="form-groups">
            <div class="form-control">
              <label class="label" for="id_number">ID No:</label>
              <input nbInput fullWidth
                formControlName="id_number"
                name="id_number"
                type="tel"
                id="id_number"
                placeholder="ex: 2014100434"
                [status]="id_number.dirty ? (id_number.invalid  ? 'danger' : 'success') : 'basic'">
              <p *ngIf="id_number.pending">
                Checking ID No...
              </p>
              <ng-container *ngIf="id_number.invalid && id_number.touched">
                <p class="error-message" *ngIf="id_number.errors?.pattern">
                  ID number should have 10-digits
                </p>
              </ng-container>
            </div>
          </div>

          <nb-alert status="danger" *ngIf="id_number.invalid && id_number.errors?.idNoTaken">
            The ID number provided has already been used.
          </nb-alert>

          <div *ngIf="id_number.valid">
            <p class="form-group-title">Personal Info</p>
            <div class="form-groups">
              <div class="note">
                <p>Please use a proper letter case.</p>
                <p>ex: Juan Dela Cruz</p>
              </div>
              <div class="form-control">
                <label class="label" for="first_name">First name:</label>
                <input nbInput fullWidth
                  formControlName="first_name"
                  name="first_name"
                  type="text"
                  id="first_name"
                  placeholder="Juan"
                  [status]="first_name.dirty ? (first_name.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="first_name.invalid && first_name.touched">
                  <p class="error-message" *ngIf="first_name.errors?.required">
                    First name is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="mid_name">Middle name:</label>
                <input nbInput fullWidth
                  formControlName="mid_name"
                  name="mid_name"
                  type="text"
                  id="mid_name"
                  placeholder="Dela"
                  [status]="mid_name.dirty ? (mid_name.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="mid_name.invalid && mid_name.touched">
                  <p class="error-message" *ngIf="mid_name.errors?.required">
                    Middle name is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="last_name">Last name:</label>
                <input nbInput fullWidth
                  formControlName="last_name"
                  name="last_name"
                  type="text"
                  id="last_name"
                  placeholder="Cruz"
                  [status]="last_name.dirty ? (last_name.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="last_name.invalid && last_name.touched">
                  <p class="error-message" *ngIf="last_name.errors?.required">
                    Last name is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="email">Email:</label>
                <input nbInput fullWidth
                  formControlName="email"
                  name="email"
                  type="email"
                  id="email"
                  placeholder="juandelacruz@example.com"
                  [status]="email.dirty ? (email.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="email.invalid && email.touched">
                  <p class="error-message" *ngIf="email.errors?.required">
                    Email is required!
                  </p>
                  <p class="error-message" *ngIf="email.errors?.pattern">
                    Email should be a valid one!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="mobile">Mobile:</label>
                <input nbInput fullWidth
                  formControlName="mobile"
                  name="mobile"
                  type="number"
                  id="mobile"
                  placeholder="09xxxxxxxxx"
                  [status]="mobile.dirty ? (mobile.invalid  ? 'danger' : 'success') : 'basic'">
                <ng-container *ngIf="mobile.invalid && mobile.touched">
                  <p class="error-message" *ngIf="mobile.errors?.required">
                    Mobile number is required!
                  </p>
                  <p class="error-message" *ngIf="mobile.hasError('pattern')">
                    Mobile number should be 11-digits!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="birthday">Birthday</label>
                <input nbInput fullWidth id="birthday" [nbDatepicker]="birthday" formControlName="birthday">
                <nb-datepicker #birthday></nb-datepicker>
              </div>
            </div>





            <p class="form-group-title">Graduate Info</p>
            <div class="form-control">
              <label class="label" for="college">College:</label>
              <input nbInput fullWidth
                formControlName="college"
                name="college"
                type="text"
                id="college"
                placeholder="College of Information Technology"
                [status]="college.dirty ? (college.invalid  ? 'danger' : 'success') : 'basic'"
                [nbAutocomplete]="autoColleges"
                focusInputOnValueChange="false">
              <nb-autocomplete #autoColleges>

                <nb-option *ngFor="let option of filteredColleges$ | async" [value]="option">
                  {{ option }}
                </nb-option>

              </nb-autocomplete>
              <ng-container *ngIf="college.invalid && college.touched">
                <p class="error-message" *ngIf="college.errors?.required">
                  College is required!
                </p>
              </ng-container>
            </div>
            <div class="form-groups">
              <div class="form-control">
                <label class="label" for="course">Course:</label>
                <input nbInput fullWidth
                  formControlName="course"
                  name="course"
                  type="text"
                  id="course"
                  placeholder="BS Information Technology"
                  [status]="course.dirty ? (course.invalid  ? 'danger' : 'success') : 'basic'"
                  [nbAutocomplete]="autoCourses"
                  focusInputOnValueChange="false">
                <nb-autocomplete #autoCourses>

                  <nb-option-group *ngFor="let coursegroup of filteredCourseGroup$ | async; trackBy: trackByFn"  [title]="coursegroup.college" >
                    <nb-option *ngFor="let option of coursegroup.courses" [value]="option">
                      {{ option }}
                    </nb-option>
                  </nb-option-group>

                </nb-autocomplete>
                <ng-container *ngIf="course.invalid && course.touched">
                  <p class="error-message" *ngIf="course.errors?.required">
                    Course is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="affiliations">Affiliations:</label>
                <div class="note">
                  <p>If none, please put <strong>N/A</strong>.</p>
                </div>
                <textarea nbInput fullWidth
                  formControlName="affiliations"
                  name="affiliations"
                  id="affiliations"
                  placeholder="Max of 3 Affiliations."
                  rows="5"
                  [status]="affiliations.dirty ? (affiliations.invalid  ? 'danger' : 'success') : 'basic'"></textarea>
                <ng-container *ngIf="affiliations.invalid && affiliations.touched">
                  <p class="error-message" *ngIf="affiliations.errors?.required">
                    Affiliations is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="awards">Awards:</label>
                <div class="note">
                  <p>If none, please put <strong>N/A</strong>.</p>
                </div>
                <textarea nbInput fullWidth
                  formControlName="awards"
                  name="awards"
                  id="awards"
                  placeholder="Max of 3 Awards."
                  rows="5"
                  [status]="awards.dirty ? (awards.invalid  ? 'danger' : 'success') : 'basic'"></textarea>
                <ng-container *ngIf="awards.invalid && awards.touched">
                  <p class="error-message" *ngIf="awards.errors?.required">
                    Awards is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <label class="label" for="motto">Motto:</label>
                <div class="note">
                  <p>If none, please put <strong>N/A</strong>.</p>
                </div>
                <textarea nbInput fullWidth
                  formControlName="motto"
                  name="motto"
                  id="motto"
                  placeholder="Life is good!"
                  rows="5"
                  [status]="motto.dirty ? (motto.invalid  ? 'danger' : 'success') : 'basic'"></textarea>
                <ng-container *ngIf="motto.invalid && motto.touched">
                  <p class="error-message" *ngIf="motto.errors?.required">
                    Motto is required!
                  </p>
                </ng-container>
              </div>
            </div>




            <p class="form-group-title">Schedule Photoshoot</p>
            <p>This is the opened schedule for now. <em>We have to fill in the maximum schedule per day before we can open the next day for pictorial schedule.</em> Time slots shown are the only available time slots for the day. Other time are already taken.</p>
            <div class="form-groups">
              <div class="form-control">
                <label class="label" for="shoot_date">Shoot Date</label>
                <input nbInput fullWidth id="shoot_date" [nbDatepicker]="shoot_date" formControlName="shoot_date">
                <nb-datepicker #shoot_date [min]="minDate" [max]="maxDate" (dateChange)="onDateChange($event)"></nb-datepicker>
              </div>




              <div class="form-control">
                <label class="label" for="time_period">AM or PM:</label>
                <nb-radio-group formControlName="time_period" name="time_period" [status]="time_period.dirty ? (time_period.invalid  ? 'danger' : 'success') : 'basic'">
                  <nb-radio
                    *ngFor="let period of timePeriods"
                    [value]="period.period">
                    {{ period.period | uppercase}}
                  </nb-radio>
                </nb-radio-group>
                <ng-container *ngIf="time_period.invalid && submitted">
                  <p class="error-message" *ngIf="time_period.errors?.required">
                    Time period is required!
                  </p>
                </ng-container>
              </div>




              <div class="form-control">
                <label class="label" for="shoot_time">Shoot Time</label>
                <nb-radio-group formControlName="shoot_time" class="timeslots" name="shoot_time" [status]="shoot_time.dirty ? (shoot_time.invalid  ? 'danger' : 'success') : 'basic'">
                  <nb-radio
                    *ngFor="let timeSlot of filterTimeSlotsOfType(time_period.value)"
                    [value]="timeSlot.value">
                    {{ timeSlot.time }} {{ timeSlot.period }}
                  </nb-radio>
                </nb-radio-group>
                <ng-container *ngIf="shoot_time.invalid && submitted">
                  <p class="error-message" *ngIf="shoot_time.errors?.required">
                    Shoot time is required!
                  </p>
                </ng-container>
              </div>
            </div>



            <p class="form-group-title">Payment</p>
            <div class="form-groups">
              <div class="form-control">
                <label class="label" for="course">Package:</label>
                <nb-radio-group formControlName="package" class="package-radio-group" name="package" [status]="package.dirty ? (package.invalid  ? 'danger' : 'success') : 'basic'">
                  <nb-radio value="Package 1">Package 1</nb-radio>
                  <nb-radio value="Package 2">Package 2</nb-radio>
                </nb-radio-group>
                <ng-container *ngIf="package.invalid && submitted">
                  <p class="error-message" *ngIf="package.errors?.required">
                    Package is required!
                  </p>
                </ng-container>
                <div class="package-info" *ngIf="package.value === 'Package 1'">
                  <div class="header">
                    <p>"Package 1" details:</p>
                    <p>P2,200</p>
                  </div>
                  <div class="body">
                    <small><strong>Inclusions:</strong></small>
                    <p>1x Yearbook (Hard Copy)</p>
                    <p>Photoshoot (Toga & Casual)</p>
                    <p>Photos hard copies:</p>
                    <div class="small">
                      <p>1x 8R size</p>
                      <p>1x 3R size</p>
                      <p>1x 2R size</p>
                    </div>
                    <p>Single use laundered & disinfected toga</p>
                  </div>
                  <div class="footer">
                    <small><strong>Breakdown:</strong></small>
                    <p><span class="price">P1,700</span> - Yearbook (Hard Copy)</p>
                    <p><span class="price">P420</span> - Photoshoot w/ Hard Copies</p>
                    <p><span class="price">P80</span> - Operating Expense</p>
                    <p class="total"><span class="price">P2,200</span> - Total</p>
                  </div>
                </div>
                <div class="package-info" *ngIf="package.value === 'Package 2'">
                  <div class="header">
                    <p>"Package 2" details:</p>
                    <p>P500</p>
                  </div>
                  <div class="body">
                    <small><strong>Inclusions:</strong></small>
                    <p class="strike">1x Yearbook (Hard Copy)</p>
                    <p>Photoshoot (Toga & Casual)</p>
                    <p>Photos hard copies:</p>
                    <div class="small">
                      <p>1x 8R size</p>
                      <p>1x 3R size</p>
                      <p>1x 2R size</p>
                    </div>
                    <p>Single use laundered & disinfected toga</p>
                  </div>
                  <div class="footer">
                    <small><strong>Breakdown:</strong></small>
                    <p><span class="price">P420</span> - Photoshoot w/ Hard Copies</p>
                    <p><span class="price">P80</span> - Operating Expense</p>
                    <p class="total"><span class="price">P500</span> - Total</p>
                  </div>
                </div>
              </div>


              <div class="payment-portals">
                <p>Please send payment to:</p>

                <div class="portal">
                  <p><strong>GCash</strong></p>
                  <div>
                    <p class="label">Account Name:</p>
                    <p>ALISA WYNN LAYAGON</p>
                  </div>
                  <div>
                    <p class="label">Account Number:</p>
                    <p>09399376838</p>
                  </div>
                </div>
                <div class="portal">
                  <p><strong>BPI</strong></p>
                  <div>
                    <p class="label">Account Name:</p>
                    <p>DAGNY ROSE UGSOD</p>
                  </div>
                  <div>
                    <p class="label">Account Number:</p>
                    <p>09336449603</p>
                  </div>
                </div>
              </div>

              <p>Do not click submit once payment has not yet been made. Otherwise, your reservation will be declined. If payment has been made, please provide details such as:</p>
              <div class="sample-payment">
                <p>Confirmation Number:</p>
                <p>Amount Paid:</p>
                <p>Paid through: (BPI/GCash)</p>
                <p>Date paid:</p>
              </div>
              <p>Once submitted and verified by YB 2020, you will receive your receipt in the email you provided. Please print your receipt and bring it on the date and time of your pictorial schedule.</p>

              <div class="form-control">
                <label class="label" for="receipt_details">Payment details:</label>
                <textarea nbInput fullWidth
                  formControlName="receipt_details"
                  name="receipt_details"
                  id="receipt_details"
                  placeholder=
"Confirmation Number:
Amount paid:
Paid through: (BPI/GCash)
Date paid:"
                  rows="7"
                  [status]="receipt_details.dirty ? (receipt_details.invalid  ? 'danger' : 'success') : 'basic'"></textarea>
                <ng-container *ngIf="receipt_details.invalid && receipt_details.touched">
                  <p class="error-message" *ngIf="receipt_details.errors?.required">
                    Receipt details is required!
                  </p>
                </ng-container>
              </div>
              <div class="form-control">
                <nb-checkbox formControlName="agreed_to_rules">Check here to indicate that you have read and agree to the <a href="http://bit.do/YEPB2020-Rules-and-Regulations" target="_blank">rules and regulations</a> of the YEPB 2020</nb-checkbox>
              </div>
            </div>




            <div class="submit-container">
              <button nbButton status="primary" [disabled]="graduateForm.invalid">Confirm</button>
            </div>
          </div>
        </form>
      </nb-card-body>
    </nb-card>

    <div class="success-alert" *ngIf="success">
      <nb-alert status="success">
        Your photoshoot booking was successful!
      </nb-alert>
      <div>
        <p>You have successfully submitted your YBEP reservation. The YBEP will verify your payment and details. Once verified, an email will be sent immediately to the email address you provided. Please <em>check your email after 2-3 hours if reservation has been submitted from 8am-7pm</em>. If reservation has been submitted beyond the said time, please check your email by the next morning.</p>
        <p>Kindly print out or bring an electronic copy  of the email sent to you and present it to the staff at the studio during your scheduled pictorial date and time. Other information needed are sent to your email. Please read it thoroughly.</p>
        <p>Thank you and keep safe!</p>
      </div>
    </div>


  </nb-layout-column>
</nb-layout>

<ng-template #dialog let-data let-ref="dialogRef">
  <nb-card accent="primary" class="confirm-dialog">
    <nb-card-header>Confirm details:</nb-card-header>
    <nb-card-body>
      <div class="detail">
        <p>ID No.</p>
        <p>{{id_number.value}}</p>
      </div>
      <div class="detail">
        <p>Name</p>
        <p>{{first_name.value}} {{mid_name.value}} {{last_name.value}}</p>
      </div>
      <div class="detail">
        <p>Email</p>
        <p>{{email.value}}</p>
      </div>
      <div class="detail">
        <p>Mobile</p>
        <p>{{mobile.value}}</p>
      </div>
      <div class="detail">
        <p>Birthday</p>
        <p>{{birthday.value | date:'mediumDate'}}</p>
      </div>
      <div class="detail">
        <p>Course</p>
        <p>{{course.value}}</p>
      </div>
      <div class="detail">
        <p>College</p>
        <p>{{college.value}}</p>
      </div>
      <div class="detail">
        <p>Affiliations</p>
        <p>{{affiliations.value}}</p>
      </div>
      <div class="detail">
        <p>Awards</p>
        <p>{{awards.value}}</p>
      </div>
      <div class="detail">
        <p>Motto</p>
        <p>{{motto.value}}</p>
      </div>
      <div class="detail">
        <p>Shoot schedule</p>
        <p>{{shoot_date.value | date:'mediumDate'}} {{shoot_time.value}} {{time_period.value}}</p>
      </div>
      <div class="detail">
        <p>Package</p>
        <p>{{package.value}}</p>
      </div>
      <div class="detail">
        <p>Payment receipt</p>
        <p>{{receipt_details.value}}</p>
      </div>
    </nb-card-body>
    <nb-card-footer>
      <button nbButton status="success" (click)="submit(ref)">Submit</button>
      <button nbButton status="basic" (click)="ref.close()">Cancel</button>
    </nb-card-footer>
  </nb-card>
</ng-template>
